.blokRemoval {
    background: #fbc02d;
    color: #fff;
    font-style: italic;
    padding: 20px 20px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;

    .BasketImgTovar {
        overflow: hidden;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 100%;
        border-radius: 4px 4px 0 0;
    }

    .textBasket {
        color: white;
        margin-top: 20%;
        margin-left: 10%;
    }

    .DeleteBatton {
        width: 70%;
        grid-auto-rows: 20%;
        background-color: #885BA7;
        color: white;
        margin-top: 14%;
        margin-bottom: 14%;
    }
}
