html{
  /*  overflow-y: hidden;*/
}
a {
    text-decoration: none !important;
}
a.nav-link{
    &:hover{
        color:black !important;
    }
}
.to-up {
    position: fixed;
    bottom: 28px;
    right: 28px;
    display: none;
    z-index: 22;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
}
/*@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
}
*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    overflow: visible;
    background: #fbfbfb url('https://i.gifer.com/7VA.gif') no-repeat center center;
    background-color: #cab014;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}



@import '_pizzaStyle.scss';
@import '_log.scss';
@import 'Profil.scss';
@import 'Add.scss';
@import 'Delete.scss';