@import url("https://fonts.googleapis.com/css?family=Mukta");
html {
  /*  overflow-y: hidden;*/ }

.to-up {
  position: fixed;
  bottom: 28px;
  right: 28px;
  display: none;
  z-index: 22;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px; }

/*@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
}*/
.preload {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #cab014;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preload .loader {
    width: 100px;
    height: 100px;
    margin: 50px auto 0;
    margin-top: 25%;
    perspective: 200px;
    position: relative; }
  .preload .loader:before,
  .preload .loader:after {
    content: '';
    background: #5f27cd;
    height: 50px;
    width: 50px;
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    animation: flip 2s linear infinite; }
  .preload .loader:after {
    opacity: 0.5;
    animation-delay: 1s; }

@keyframes flip {
  0% {
    transform: rotateX(0) rotateY(0); }
  25% {
    transform: rotateX(0) rotateY(180deg); }
  50% {
    transform: rotateX(180deg) rotateY(180deg); }
  75% {
    transform: rotateX(180deg) rotateY(0); }
  100% {
    transform: rotateX(0) rotateY(0); } }
  .preload.done {
    opacity: 0;
    visibility: hidden; }

.PizzaBlok {
  margin-top: 10%;
  border-radius: 15px;
  width: 100%;
  min-height: 330px;
  box-shadow: 0 0 5px 2px #A4A4A4;
  padding: 0.5em; }
  .PizzaBlok:hover {
    box-shadow: 0 0 7px 7px #A4A4A4;
    transition-duration: 1s; }
  .PizzaBlok .imgPizza {
    overflow: hidden;
    height: 200px;
    border-radius: 20px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
    .PizzaBlok .imgPizza .blokPizza {
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      opacity: 0;
      background-color: red;
      z-index: 6; }
      .PizzaBlok .imgPizza .blokPizza:hover {
        transition: 2s;
        opacity: 1; }
  .PizzaBlok .text {
    font-size: 13px;
    margin-left: 5%;
    font-style: italic; }
  .PizzaBlok .price {
    text-align: left;
    margin-left: 2%; }
  .PizzaBlok b {
    max-block-size: 17px;
    margin-left: 3%; }
  .PizzaBlok .button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 12px;
    letter-spacing: .3em;
    font-style: italic;
    width: 50%;
    padding: 0.9em;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 5%; }
  .PizzaBlok .button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #FFC300;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0); }
  .PizzaBlok .button-1:hover:before {
    transform: translate(4px, 4px); }

h4 {
  padding-top: 20px;
  text-align: center;
  font-style: italic; }

.pizzaDesigner {
  background-color: #324e32;
  width: 100%;
  height: 150px;
  margin-top: 5%;
  padding-top: 4%;
  color: white;
  text-align: center; }

.DesignerComponent {
  margin-top: 10%;
  border-radius: 8%;
  width: 100%;
  height: 240px;
  text-align: center;
  box-shadow: 0 0 5px 2px #A4A4A4;
  padding: 0.5em; }
  .DesignerComponent .DesignerImage {
    overflow: hidden;
    height: 90px;
    border-radius: 20px;
    width: 80%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
  .DesignerComponent .buttonDesignerr {
    width: 80%;
    padding: 4%;
    font-size: 13px;
    margin-top: 5%;
    border-radius: 8%;
    color: white;
    background-color: black; }

.AddInfo {
  width: 100%;
  height: 20px;
  background-color: gray;
  color: white; }

.login-box {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(0, 77, 77, 0.9); }

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  /*transform: rotateY(180deg);*/
  backface-visibility: hidden;
  transition: all .4s linear; }

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none; }

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase; }

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent; }

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee; }

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; }

.login-space .group {
  margin-bottom: 15px; }

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block; }

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1); }

.login-space .group .label {
  color: #aaa;
  font-size: 12px; }

.login-space .group .button {
  background: #1161ee; }

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1); }

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s; }

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0); }

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0); }

.login-space .group .check:checked + label {
  color: #fff; }

.login-space .group .check:checked + label .icon {
  background: #1161ee; }

.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg); }

.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg); }

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0); }

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0); }

*,
:after,
:before {
  box-sizing: border-box; }

.clearfix:after,
.clearfix:before {
  content: '';
  display: table; }

.clearfix:after {
  clear: both;
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2); }

.foot {
  text-align: center; }

.card {
  width: 500px;
  left: 100px; }

.profile-nav, .profile-info {
  margin-top: 30px; }

.profile-nav .user-heading {
  background: #fbc02d;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center; }

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block; }

.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%; }

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px; }

.profile-nav .user-heading p {
  font-size: 12px; }

.profile-nav ul {
  margin-top: 1px; }

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px; }

.profile-nav ul > li:last-child {
  border-bottom: none; }

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff; }

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important; }

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px; }

.profile-nav ul > li > a > i {
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa; }

.p-text-area, .p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px; }

.profile-info .panel-footer {
  background-color: #f8f7f5;
  border-top: 1px solid #e7ebee; }

.profile-info .panel-footer ul li a {
  color: #7a7a7a; }

.bio-graph-heading {
  background: #fbc02d;
  color: #fff;
  font-style: italic;
  padding: 20px 20px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
  margin: 3%; }
  .bio-graph-heading .BasketImgTovar {
    width: 25%;
    border-radius: 4px 4px 0 0; }
  .bio-graph-heading .textBasket {
    color: white;
    margin-left: 10%; }
  .bio-graph-heading .cencel {
    width: 3%;
    position: relative;
    right: -25%;
    bottom: 20%; }

.bio-graph-info {
  color: #89817e; }

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px; }

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding: 0 15px; }

.bio-row p span {
  width: 100px;
  display: inline-block; }

.contentBox {
  width: 40%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 35%;
  background-color: #FEF9E7;
  margin-bottom: 2%; }

label {
  margin-left: 35%; }

.button {
  background-color: #D4AC0D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 40%; }

.button:hover {
  opacity: 0.8; }

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

.block {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

#blok1 {
  position: relative;
  text-align: center;
  padding: 1.5%;
  width: 20%;
  height: 10%;
  left: 42%; }

.fileform {
  background-color: #FEF9E7;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 40%;
  margin-left: 35%; }

.fileform .selectbutton {
  background-color: #A2A3A3;
  border: 1px solid #939494;
  border-radius: 2px;
  color: #FFFFFF;
  float: right;
  font-size: 16px;
  height: 30px;
  line-height: 20px;
  overflow: hidden;
  padding: 6px 8px;
  text-align: center;
  vertical-align: middle;
  width: 20%; }

.fileform #upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 30px;
  z-index: 20; }

.fileform #fileformlabel {
  float: left;
  line-height: 22px;
  overflow: hidden;
  padding: 2px 6px;
  text-align: left;
  vertical-align: middle;
  width: 70%;
  height: 30px; }

.blokRemoval {
  background: #fbc02d;
  color: #fff;
  font-style: italic;
  padding: 20px 20px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
  margin: 3%; }
  .blokRemoval .BasketImgTovar {
    width: 15%;
    border-radius: 4px 4px 0 0; }
  .blokRemoval .textBasket {
    color: white;
    margin-left: 10%; }
  .blokRemoval .DeleteBatton {
    width: 20%;
    margin-left: 20%;
    background-color: #885BA7;
    color: white;
    padding: 4px 4px; }
