html{
  /*  overflow-y: hidden;*/
}
a.nav-link{
    &:hover{
        color:black !important;
    }
}
.to-up {
    position: fixed;
    bottom: 28px;
    right: 28px;
    display: none;
    z-index: 22;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
}
/*@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
}*/

.preload {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #cab014;
    transition: 1s all;
    opacity: 1;
    visibility: visible;

    .loader {
        width: 100px;
        height: 100px;
        margin: 50px auto 0;
        margin-top:25%;
        perspective: 200px;
        position: relative;
    }

    .loader:before,
    .loader:after {
        content: '';
        background: #5f27cd;
        height: 50px;
        width: 50px;
        transform-origin: right bottom;
        position: absolute;
        top: 0;
        animation: flip 2s linear infinite;
    }

    .loader:after {
        opacity: 0.5;
        animation-delay: 1s;
    }

    @keyframes flip {
        0% {
            transform: rotateX(0) rotateY(0);
        }

        25% {
            transform: rotateX(0) rotateY(180deg);
        }

        50% {
            transform: rotateX(180deg) rotateY(180deg);
        }

        75% {
            transform: rotateX(180deg) rotateY(0);
        }

        100% {
            transform: rotateX(0) rotateY(0);
        }
    }

    &.done {
        opacity: 0;
        visibility: hidden;
    }
}



@import '_pizzaStyle.scss';
@import '_log.scss';
@import 'Profil.scss';
@import 'Add.scss';
@import 'Delete.scss';