<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<h2>Редагувати піцу</h2>

<div id="blok1">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <a asp-action="EditPizza" asp-controller="User" class="btn btn-outline-primary" for="btnradio1">Піца</a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a asp-action="EditSushi" asp-controller="User" class="btn btn-outline-primary" for="btnradio2">Суші</a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <a asp-action="EditDrinks" asp-controller="User" class="btn btn-outline-primary" for="btnradio3">Напої</a>
    </div>
</div>


@foreach (Pizza pizza in Model)
{
<div class="blokRemoval">
    <img src='data:image/jpeg;base64,@(Convert.ToBase64String(pizza.Img))' alt="https://i.pinimg.com/originals/57/a4/d2/57a4d2fbcf28e3159a2ee14ac8982a86.png" class="BasketImgTovar" />
    <b class="textBasket">@pizza.Name  </b>
    <b class="textBasket">@pizza.Price</b>
    <a asp-action="PageEditPizza" asp-controller="User">
        <button type="button" class="btn btn-primary DeleteBatton">Редагувати</button>
    </a>
</div>
}

