<div class="fotorama" data-loop="true" data-transition="crossfade" data-autoplay="5000">
    <img src="~/image/slide1.jpg">
    <img src="~/image/slide2.jpg">
    <img src="/image/slide3.jpg">
    <img src="~/image/slide4.jpg">
    <img src="/image/slide5.jpg">
</div>
