@{ ViewData["Title"] = "Potables Page"; }

<div class="fotorama" data-loop="true" data-transition="crossfade" data-autoplay="5000">
    <img src="~/image/slide1.jpg">
    <img src="~/image/slide2.jpg">
    <img src="/image/slide3.jpg">
    <img src="~/image/slide4.jpg">
    <img src="/image/slide5.jpg">
</div>

<h4>Вода</h4>


<div class="row">

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">

            <img src="https://producto.com.ua/image/cache/catalog/%D0%B1%D0%BE%D0%BD%D0%B0%D0%BA%D0%B2%D0%B0-200x200.jpg" class="imgPizza">
            <b>Bonaqua газована</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://top20brands.ru/i/201610/841Q9.jpg" class="imgPizza">
            <b>BonAqua н/г</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGI4tPNbLT06Jp4q-h6BVZQiqkceDt-EFid8XtGs737owOxyerBR3Z2OTq98-uXEwVQM&usqp=CAU" class="imgPizza">
            <b>Спрайт</b>
            <p class="price">20грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://veganfoundry.com/wp-content/uploads/2020/03/Fanta_Logo.png" class="imgPizza">
            <b>Фанта апельсин</b>
            <p class="price">20грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://seeklogo.com/images/N/Nestea-logo-AAB34A76C2-seeklogo.com.png" class="imgPizza">
            <b>Nestea чай зі смаком лимону</b>
            <p class="price">29грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://i.pinimg.com/originals/5d/d1/26/5dd1262b99a7a2c74bd61f60cfc50e73.jpg" class="imgPizza">
            <b>Coca-Cola Zero </b>
            <p class="price">24грн - 250мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

</div>

<h4>Сік</h4>

<div class="row">

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://i1.poltava.to/news/260/25987/photo.jpg" class="imgPizza">
            <b>Апельсиновий сік</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://img-global.cpcdn.com/recipes/d63a6b831e0222c0/751x532cq70/limonnyi-sok-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D0%BE%D0%B5-%D1%84%D0%BE%D1%82%D0%BE-%D1%80%D0%B5%D1%86%D0%B5%D0%BF%D1%82%D0%B0.jpg" class="imgPizza">
            <b>Лимонний сік</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://w2w.com.ua/wp-content/uploads/2019/05/8179f2f296eefd99eb46be3bd74fad5e.jpg" class="imgPizza">
            <b>Томатний сік</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://cdn.segodnya.ua/i/original/media/image/5d5/a50/dce/5d5a50dce8785.jpg" class="imgPizza">
            <b>Яблучний сік</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://st2.depositphotos.com/1043947/i/600/depositphotos_84264550-stock-photo-healthy-peaches-smoothie-in-a.jpg" class="imgPizza">
            <b>Персиковий сік</b>
            <p class="price">25грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="http://v.img.com.ua/b/orig/e/d6/993b8b658e6be307d8ce6d28eb3f1d6e.jpg" class="imgPizza">
            <b>Ананасовий сік </b>
            <p class="price">25грн - 250мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

</div>

<h4>Пиво</h4>

<div class="row">

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://www.unipack.ru/light_editor_img/images/2018-12-18/file1545056982.jpg" class="imgPizza">
            <b>Hoegaarden грейфрут сік</b>
            <p class="price">80грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://samogonpil.ru/wp-content/uploads/4/9/d/49d55cd67788ea4db1ddb3c70dd6a114.jpg" class="imgPizza">
            <b>Lowenbrau Original </b>
            <p class="price">80грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ae0c8f75751075.5c555565c0893.jpg" class="imgPizza">
            <b>Stella Artois</b>
            <p class="price">50грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="http://abakan.foodzy.ru/upload/iblock/c09/c092b8cea4b307a7945b73a290fcc5d8.png" class="imgPizza">
            <b>Bud</b>
            <p class="price">45грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://live.staticflickr.com/65535/50174393623_fdd05680eb_h.jpg" class="imgPizza">
            <b>Bud zero</b>
            <p class="price">45грн - 500мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

    <div class="col-3 col-sm-10 col-md-6 col-lg-3 col-xl-3 col-xxl-1">
        <div class="PizzaBlok">
            <img src="https://nalivali.ru/wp-content/uploads/2016/03/leffe-brune-2.jpg" class="imgPizza">
            <b>Leffe Brunе </b>
            <p class="price">80грн - 250мл</p>
            <button class="button-1">В корзину</button>
        </div>
    </div>

</div>