@*@model PIZZA.ViewModels.LoginModel*@
@model PIZZA.ViewModels.RegisterModel

<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip">

                    <input id="tab-2" type="radio" name="tab" class="sign-up" checked>
                    <label for="tab-2" class="tab">Sign Up</label></a>

                    <a asp-action="Login" asp-controller="Home">
                        <div for="tab-1" class="tab">Login</div>
                    </a>

                    <div class="login-space">
                        <form asp-action="Register" asp-controller="Home" asp-anti-forgery="true">
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <div class="sign-up-form">
                                <div class="group"> <label for="user" class="label">Email</label> <input id="user" type="text" asp-for="Email" class="input" placeholder="Create your Username"> </div>
                                <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" asp-for="Password" class="input" data-type="password" placeholder="Create your password"> </div>
                                <div class="group"> <label for="pass" class="label">number phone</label> <input id="pass" type="tel" asp-for="PhoneNumber" class="input" placeholder="Enter phone"> </div>
                                <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                                <div class="hr"></div>
                                <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>